@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap');

body {
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  background: #ECF2F8;
}

.card {
  width: 87vw;
  max-width: 660px;
  background: #FFF;
  box-shadow: 0 40px 40px -10px rgba(201, 213, 225, 0.503415);
  border-radius: 10px;

  margin: 74px auto;
  overflow: hidden;
}

.text {
  margin: 32px;
}

h1 {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #48556A;
  margin-bottom: 12px;
}

.text p {
  font-size: 13px;
  line-height: 20px;
  color: #6e8098;
}

.hidden {
  display: none;
}

.info {
  height: 64px;

  padding: 0 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.info.active {
  background-color: #48556A;
}

.info:not(.active) .social {
  display: none;
}

.info.active .author {
  display: none;
}

.author {
  display:grid;
  grid-template-columns: 40px calc(100% - 32px);
  grid-template-areas:
  "avatar name"
  "avatar date";
  gap: 0 16px;

}

.author img {
  grid-area: avatar;
  width: 40px;
  border-radius: 50%;
}

h2 {
  grid-area: name;
  font-weight: 700;
  font-size: 13px;
  line-height: 20px;
  color: #48556A;
}

.author p {
  grid-area: date;
  font-weight: 500;
  font-size: 13px;
  line-height: 20px;
  color: #9DAEC2;
}

.circle {
  grid-area: more;
  width: 32px;
  height: 32px;
  background-color: #ecf2f8;

  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.circle ion-icon {
  font-size: 15px;
  color: #6e8098;
}

.social {
  display: flex;
  gap: 16px;
  align-items: center;
}

.social p {
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #9DAEC2;
}

.social ion-icon {
  font-size: 20px;
  color: #FFF;
}

.active .circle {
  background-color: #6e8098;
}

.active .circle ion-icon {
  color: #fff;
}
